<section class="contact pt-5 pb-5">
  <div class="container">
    <div class="d-flex">
      <h1 class="title">Contact me</h1>
    </div>
    <div class="contact-form">
      <div class="contact-message pb-2">
        <span
          >Although I am not looking actively for a new role, I am always open
          to new contacts and discussion! If you want to get in touch or just
          say hi, please click below to drop me a line.</span
        >
      </div>
      <div
        class="contact-button d-flex align-items-center justify-content-center pt-5 pb-5"
      >
        <a href="mailto:maslak.pawel99@gmail.com" class="button">
          <span class="button-message">Contact Me</span>
        </a>
      </div>
    </div>
  </div>
</section>
