@import '/src/assets/styles/global';

.container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;

    .text-container {
        padding: 1rem;
    }

    .image-container {
        margin: auto;
        padding: 1rem;
    }
}

.name {
    font-family: $textBold;
    text-transform: capitalize;
    font-size: 4rem;
    line-height: .8;
    letter-spacing: -3px;
}

.role {
    font-family: $textNormal;
    opacity: 0.65;
    font-size: 1.5rem;
    letter-spacing: -.5px;
    text-align: justify;
}

.hero-image {
    max-width: 100%;
    margin: auto;

    img {
        width: 350px;
        border-radius: 50%;
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        transition: all .7s ease-in-out;
    }

    .loading {
        transition: all .7s ease-in-out;
    }
}

@media only screen and (max-width: 900px) {
    .image-container {
        display: none;
    }

    .container {
        display: block;
    }
}