<section class="welcome">
    <div class="container pb-5">
        <div class="text-container">
            <div class="row pb-3">
                <span class="name pb-5">Pawel Maslak</span>
                <span class="role">Pawel is an back-end Software Engineer with aspirations to become Full-stack
                    developer.
                    Throughout his career he managed to develop various tools that reduced workload and
                    provided cost savings to the companies he worked for. Pawel loves discovering and provide support
                    about
                    .NET and Cloud Technologies. In his free time he works on a various private projects involving
                    Angular, Docker and DevOps.</span>
            </div>
        </div>
        <div class="image-container">
            <div class="hero-image">
                <picture>
                    <source type="image/jpg" srcset="assets/images/photos/pawel-cutout.jpg">
                    <img src="/src/assets/images/photos/pawel-cutout.jpg" width="330" height="330" alt="Pawel Maslak Profile">
                </picture>
            </div>
        </div>
    </div>
</section>