<section class="footer">
    <div class="container">
        <div class="signature">
            Designed and built by Pawel Maslak ©
        </div>
        <div class="social-media">
            <ul>
                <li>
                    <span>
                        <a href="https://www.instagram.com/pauldechampignon/" target="_blank" title="Visit my Instagram profile!">
                            <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
                        </a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="https://www.linkedin.com/in/pawel-maslak-b32a66177/" target="_blank" title="Visit my LinkedIn page!">
                            <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
                        </a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="https://github.com/PawelMaslak" target="_blank" title="Visit my Github page!">
                            <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>