figure {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    height: 275px;
    margin: 0;

    .image-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .loading {
            transition: all .7s ease-in-out;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        opacity: 1;
        display: none;
    }

    .project-thumbnail {
        display: none;
        opacity: 0;
        scale: 1;
        transition: all 2s ease-in-out;
    }

    figcaption {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        padding: 2rem;
        width: 100%;
        height: 100%;
        background-color: #141c3a;
        transition: .7s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;

        .description {
            height: 100px;
        }
    }

    h1 {
        font-weight: 700;
        font-size: 1.3rem;
        text-align: center;
    }

    .site-link {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #6E07F3;
        width: 150px;
        height: 35px;
        border-radius: 9px;
        transition: .7s ease-in-out;
        margin: 1rem;

        .text {
            margin-right: 5px;
        }
    }

    .site-link:hover {
        cursor: pointer;
        background-color: #6E07F3;
    }

    .github {
        opacity: .65;
        transition: .7s ease-in-out;
    }

    .github:hover {
        opacity: 1;
    }
}

figure:hover {
    img {
        opacity: 0;
    }

    .project-thumbnail {
        scale: 1.2;
    }

    figcaption {
        opacity: 1;
    }
}

@media screen and (max-width: 1200px) and (min-width: 575px) {
    figure {
        width: 380px;
        height: 250px;
        margin: auto;

        h1 {
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 575px) {
    figure {
        width: calc(100% - 20px);
        height: 250px;
        margin: auto;

        h1 {
            font-size: 1.2rem;
        }
    }
}