<figure class="image">
     <div class="image-container">
          <img #image class="project-thumbnail" (load)="onLoadImage(image, loading)" src="{{project.thumbnailPath}}"
               alt="">
          <div #loading class="loading">
               <app-loading></app-loading>
          </div>
     </div>
     <figcaption>
          <h1 class="description">
               {{project.description}}
          </h1>
          <a href="{{project.siteLink}}" *ngIf="project.siteLink" class="site-link" target="_blank"
               title="Visit website!">
               <span class="d-flex justify-content-between">
                    <span class="text">Visit website</span>
                    <fa-icon [icon]="['fas', 'arrow-right']" size="lg"></fa-icon>
               </span>
          </a>
          <a href="{{project.repositoryLink}}" *ngIf="project.repositoryLink" class="github" target="_blank"
               title="Visit repository page!">
               <fa-icon [icon]="['fab', 'github']" size="2x"></fa-icon>
          </a>
     </figcaption>
</figure>